
<!-- footer -->
	<div class="container-fluid footer">
		<div class="container">
			<div class="col-sm-4 site_logo">
				<h1>Product Management</h1>
			</div><!-- end of column1 -->
			<div class="col-sm-4">
				<h3>Quick Links</h3>

				<ul>
					<li><a href="/">&raquo; Home</a></li>
					<li><a href="/">&raquo; About us</a></li>
					<li><a href="/">&raquo; Help center</a></li>
					<li><a href="/">&raquo; Contect Us</a></li>
					<li><a href="/user/addproduct">&raquo; sell product</a></li>
				</ul>
			</div><!-- end of column2 -->
			<div class="col-sm-4">
				<h3>Contect details</h3>
				<p><strong>DIT University Dehradun,Utterakhand-248009</strong></p> 
				<p><strong>Email:-</strong>projectmanagement@gmail.com</p>  
				<p><strong>Phone:-</strong>+91-9000000000</p>  
			</div><!-- end of column3 -->
		</div><!-- end of container -->
	</div><!-- end of container fluid -->


<!-- end of footer -->
